dist: trusty

jobs:
  include:
    - stage: openshift cluster 
      script:
       - wget https://mirror.openshift.com/pub/openshift-v4/amd64/clients/oc-dec2/4.6/linux/oc.tar.gz
       - tar -xzf oc.tar.gz
       - sudo -E env "PATH=$PATH" cp oc /bin
       - sudo -E env "PATH=$PATH" cp oc /usr/bin
       - sudo -E env "PATH=$PATH" chmod a+x /usr/bin/oc
       - sudo -E env "PATH=$PATH" chmod a+x /bin/oc
       - oc login --token="$OC_TOKEN" --server="$OC_SERVER" 
       - oc project "$PROJECT_NAME"
       - envsubst < deployment.yaml.template > deployment.yaml
       - oc apply -f deployment.yaml
